<div class="container">
  <div class="innerContent">
      <div class="title"><span class="title-center"> Rating </span></div>
      <!--<div class="itemBlank"></div>-->
      <div class="item">2v2 current: <span class="itemVal" id="twoLabel">{{twos}}</span></div>
      <div class="item">2v2 highest: <span class="itemVal" id="twoHighLabel">{{highestTwos}}</span></div>
      <div class="item">3v3 current: <span class="itemVal" id="threeLabel">{{threes}}</span></div>
      <div class="item">3v3 highest: <span class="itemVal" id="threeHighLabel">{{highestThrees}}</span></div>
      <div class="item">5v5 current: <span class="itemVal">0</span></div>
      <div class="item">5v5 highest: <span class="itemVal" id="fiveHighLabel">{{highestFives}}</span></div>
      <div class="itemBlank"></div>
      <div class="item" style="background-color: rgb(34, 45, 90);">RBG current: <span class="itemVal" id="rbgLabel">{{rbgs}}</span></div>
      <div class="item">RBG highest: <span class="itemVal">Coming soon!</span></div>
    </div>
</div>
