<div class="content_container">
    <div class="search_box">
      <div class="input_container">
        <h3>SEARCH</h3>
        <img src="../../assets/search.png" alt="character name">
        <input type="text" #charInput placeholder="player">
        <br>
        <br>
        <img src="../../assets/realm.png" alt="character name">
        <input type="text" #realmInput placeholder="realm" list="realms">
        <br>
        <br>
        <button (click)="printName(realmInput.value, charInput.value)" routerLink="/general">submit</button>
      </div>
    </div>
  </div>

<datalist id="realms">
    <option value="Aman'Thul">
    <option value="Caelestrasz">
    <option value="Dath'Remar">
    <option value="Khaz'goroth">
    <option value="Nagrand">
    <option value="Saurfang">
    <option value="Barthilas">
    <option value="Dreadmaul">
    <option value="Frostmourne">
    <option value="Gundrak">
    <option value="Jubei'Thos">
    <option value="Thaurissan">
    <option value="Aerie Peak">
    <option value="Anvilmar">
    <option value="Arathor">
    <option value="Antonidas">
    <option value="Azuremyst">
    <option value="Baelgun">
    <option value="Blade's Edge">
    <option value="Bladefist">
    <option value="Bronzebeard">
    <option value="Cenarius">
    <option value="Darrowmere">
    <option value="Draenor">
    <option value="Dragonblight">
    <option value="Echo Isles">
    <option value="Galakrond">
    <option value="Gnomeregan">
    <option value="Hyjal">
    <option value="Kilrogg">
    <option value="Korialstrasz">
    <option value="Lightbringer">
    <option value="Misha">
    <option value="Moonrunner">
    <option value="Nordrassil">
    <option value="Proudmoore">
    <option value="Shadowsong">
    <option value="Shu'Halo">
    <option value="Silvermoon">
    <option value="Skywall">
    <option value="Suramar">
    <option value="Uldum">
    <option value="Uther">
    <option value="Velen">
    <option value="Windrunner">
    <option value="Blackrock">
    <option value="Blackwing Lair">
    <option value="Bonechewer">
    <option value="Boulderfist">
    <option value="Coilfang">
    <option value="Crushridge">
    <option value="Daggerspine">
    <option value="Dark Iron">
    <option value="Destromath">
    <option value="Dethecus">
    <option value="Dragonmaw">
    <option value="Dunemaul">
    <option value="Frostwolf">
    <option value="Gorgonnash">
    <option value="Gurubashi">
    <option value="Kalecgos">
    <option value="Kil'Jaeden">
    <option value="Lethon">
    <option value="Maiev">
    <option value="Nazjatar">
    <option value="Ner'Zhul">
    <option value="Onyxia">
    <option value="Rivendare">
    <option value="Shattered Halls">
    <option value="Spinebreaker">
    <option value="Spirestone">
    <option value="Stonemaul">
    <option value="Stormscale">
    <option value="Tichondrius">
    <option value="Ursin">
    <option value="Vashj">
    <option value="Blackwater Raiders">
    <option value="Cenarion Circle">
    <option value="Feathermoon">
    <option value="Sentinels">
    <option value="Silver Hand">
    <option value="The Scryers">
    <option value="Wyrmrest Accord">
    <option value="The Venture Co US">
    <option value="Azjol-Nerub">
    <option value="Doomhammer">
    <option value="Icecrown">
    <option value="Perenolde">
    <option value="Terenas">
    <option value="Zangarmarsh">
    <option value="Kel'Thuzad">
    <option value="Darkspear">
    <option value="Deathwing">
    <option value="Bloodscalp">
    <option value="Nathrezim">
    <option value="Shadow Council">
    <option value="Aggramar">
    <option value="Alexstrasza">
    <option value="Alleria">
    <option value="Blackhand">
    <option value="Borean Tundra">
    <option value="Cairne">
    <option value="Dawnbringer">
    <option value="Draka">
    <option value="Eitrigg">
    <option value="Fizzcrank">
    <option value="Garona">
    <option value="Ghostlands">
    <option value="Greymane">
    <option value="Grizzly Hills">
    <option value="Hellscream">
    <option value="Hydraxis">
    <option value="Kael'thas">
    <option value="Khaz Modan">
    <option value="Kul Tiras">
    <option value="Madoran">
    <option value="Malygos">
    <option value="Muradin">
    <option value="Nesingwary">
    <option value="Quel'Dorei">
    <option value="Ravencrest">
    <option value="Rexxar">
    <option value="Runetotem">
    <option value="Sen'Jin">
    <option value="Staghelm">
    <option value="Terokkar">
    <option value="Thunderhorn">
    <option value="Vek'nilash">
    <option value="Whisperwind">
    <option value="Winterhoof">
    <option value="Aegwynn">
    <option value="Agamaggan">
    <option value="Akama">
    <option value="Archimonde">
    <option value="Azgalor">
    <option value="Azshara">
    <option value="Balnazzar">
    <option value="Blood Furnace">
    <option value="Burning Legion">
    <option value="Cho'gall">
    <option value="Chromaggus">
    <option value="Detheroc">
    <option value="Drak'tharon">
    <option value="Drak'thul">
    <option value="Frostmane">
    <option value="Garithos">
    <option value="Gul'dan">
    <option value="Hakkar">
    <option value="Illidan">
    <option value="Korgath">
    <option value="Laughing Skull">
    <option value="Mal'Ganis">
    <option value="Malorne">
    <option value="Mug'thol">
    <option value="Stormreaver">
    <option value="Sargeras">
    <option value="The Underbog">
    <option value="Thunderlord">
    <option value="Wildhammer">
    <option value="Farstriders">
    <option value="Kirin Tor">
    <option value="Moon Guard">
    <option value="Scarlet Crusade">
    <option value="Sisters of Elune">
    <option value="Thorium Brotherhood">
    <option value="Emeral Dream">
    <option value="Lightninghoof">
    <option value="Maelstrom">
    <option value="Twisting Nether">
    <option value="Area 52">
    <option value="Arygos">
    <option value="Bloodhoof">
    <option value="Dalaran">
    <option value="Dentarg">
    <option value="Drenden">
    <option value="Durotan">
    <option value="Duskwood">
    <option value="Eldre'Thalas">
    <option value="Elune">
    <option value="Eonar">
    <option value="Exodar">
    <option value="Fenris">
    <option value="Garrosh">
    <option value="Gilneas">
    <option value="Grizzly Hills">
    <option value="Kargath">
    <option value="Khadgar">
    <option value="Llane">
    <option value="Lothar">
    <option value="Malfurion">
    <option value="Medivh">
    <option value="Nazgrel">
    <option value="Norgannon">
    <option value="Shandris">
    <option value="Stormrage">
    <option value="Tanaris">
    <option value="Thrall">
    <option value="Trollbane">
    <option value="Turalyon">
    <option value="Uldaman">
    <option value="Undermine">
    <option value="Ysera">
    <option value="Zul'jin">
    <option value="Altar of Storms">
    <option value="Alterac Mountains">
    <option value="Andorhal">
    <option value="Anetheron">
    <option value="Anub'arak">
    <option value="Arthas">
    <option value="Auchindoun">
    <option value="Black Dragonflight">
    <option value="Bleeding Hollow">
    <option value="Burning Blade">
    <option value="Dalvengyr">
    <option value="Demon Soul">
    <option value="Eredar">
    <option value="Executus">
    <option value="Firetree">
    <option value="Gorefiend">
    <option value="Haomarush">
    <option value="Jaedenar">
    <option value="Lightning's Blade">
    <option value="Mannoroth">
    <option value="Magtheridon">
    <option value="Scilla">
    <option value="Shadowmoon">
    <option value="Shattered Hand">
    <option value="Skullcrusher">
    <option value="Smolderthorn">
    <option value="The Forgotten Coast">
    <option value="Tortheldrin">
    <option value="Warsong">
    <option value="Ysondre">
    <option value="Zuluhed">
    <option value="Argent Dawn">
    <option value="Earthen Ring">
    <option value="Steamwheedle Cartel">
    <option value="Ravenholdt">
  </datalist>