
<div class="container">
    <div class="two">
      <div class="innerContent">
        <div class="title"><span class="title-center"> Overview </span></div>
        <div class="item">Name: <span class="itemVal">{{name}}</span></div>
        <div class="item">Realm: <span class="itemVal">{{realm}}</span></div>
        <div class="item">Class: <span class="itemVal">Coming soon!</span></div>
        <div class="item">Level: <span class="itemVal">{{level}}</span></div>
        <div class="item">Achieve pts: <span class="itemVal">{{achievements}}</span></div>
        <div class="item">Honor kills: <span class="itemVal">{{hk}}</span></div>
        <div class="itemBlank"></div>
        <div class="item" style="background-color: rgb(34, 45, 90);">Equiped iLvl: <span class="itemVal">{{ilevel}}</span></div>
        <div class="item">Inventory iLvl: <span class="itemVal">{{ilevelInv}}</span></div>
      </div>
      <div class="innerContent">
        <div class="title"><span class="title-center"> General </span></div>
        <div class="item">HP: <span class="itemVal">{{health}}</span></div>
        <div class="item">Mana: <span class="itemVal">{{mana}}</span></div>
        <div class="item">Stamina: <span class="itemVal">{{stamina}}</span></div>
        <div class="item">Strength: <span class="itemVal">{{strength}}</span></div>
        <div class="item">Intellect: <span class="itemVal">{{intellect}}</span></div>
        <div class="item">Agility: <span class="itemVal">{{agility}}</span></div>
        <div class="item">Mastery: <span class="itemVal">{{mastery}}</span></div>
        <div class="item">Crit: <span class="itemVal">{{critical}}</span></div>
        <div class="item">Haste: <span class="itemVal">{{haste}}</span></div>
        <div class="item">Versatility: <span class="itemVal">{{versatility}}</span></div>
      </div>
      <div class="innerContent">
        <div class="title"><span class="title-center"> Item Levels </span></div>
        <div class="item">Head: <span class="itemVal">{{ihead}}</span></div>
        <div class="item">Neck: <span class="itemVal">{{ineck}}</span></div>
        <div class="item">Shoulders: <span class="itemVal">{{ishoulders}}</span></div>
        <div class="item">Back: <span class="itemVal">{{iback}}</span></div>
        <div class="item">Chest: <span class="itemVal">{{ichest}}</span></div>
        <div class="item">Wrist: <span class="itemVal">{{iwrist}}</span></div>
        <div class="item">Hands: <span class="itemVal">{{ihands}}</span></div>
        <div class="item">Waist: <span class="itemVal">{{iwaist}}</span></div>
        <div class="item">Legs: <span class="itemVal">{{ilegs}}</span></div>
        <div class="item">Feet: <span class="itemVal">{{ifeet}}</span></div>
        <div class="item">Ring1: <span class="itemVal">{{iring1}}</span></div>
        <div class="item">Ring2: <span class="itemVal">{{iring2}}</span></div>
        <div class="item">Trinket1: <span class="itemVal">{{itrink1}}</span></div>
        <div class="item">Trinket2: <span class="itemVal">{{itrink2}}</span></div>
        <div class="item">Main hand: <span class="itemVal">{{imain}}</span></div>
        <div class="item">Offhand: <span class="itemVal">{{ioff}}</span></div>
        <div class="item">Shield: <span class="itemVal">{{ishield}}</span></div>
      </div>
    </div>
</div>